display-flex()
  display -webkit-box
  display -ms-flexbox
  display flex

flexbox($grow, $shrink, $basis)
  -webkit-box-flex $grow
  -ms-flex $grow $shrink $basis
  flex $grow $shrink $basis

flexbox-direction($direction, $webkit-direction)
  -webkit-box-direction $webkit-direction
  -ms-flex-direction $direction
  flex-direction $direction

flexbox-orient($orient)
  -webkit-box-orient orient

flebox-wrap($value)
  -ms-flex-wrap $value
  flex-wrap $value

flexbox-pack($pack)
  -webkit-box-pack $pack
  -ms-flex-pack $pack

flexbox-align($align, $ms-align, $webkit-align)
  -webkit-box-align: $webkit-align;
  -ms-flex-align: $ms-align;
  align-items: $align;

flexbox-justify($justify, $pack)
  flexbox-pack($pack)
  justify-content: $justify;
