:root
  // GRID
  --t-col-gutter 20px
  --t-col-padding calc(var(--t-col-gutter)/2)
  --t-row-gutter var(--t-col-gutter)

  // COLORS:GREY
  --t-color-grey-lighter      #F9F9F9
  --t-color-grey-light        #DFE3E8
  --t-color-grey              #C4CDD5
  --t-color-grey-dark         #627380
  --t-color-grey-darker       #222B35
  // COLORS:YELLOW
  --t-color-yellow-lighter    #FFFBCC
  --t-color-yellow-light      #FFF799
  --t-color-yellow            #FFEA00
  --t-color-yellow-dark       #DBC900
  --t-color-yellow-darker     #999900
  // COLORS:RED
  --t-color-red-lighter       #FFF0EB
  --t-color-red-light         #E68A8E
  --t-color-red               #E6324B
  --t-color-red-dark          #CF1946
  --t-color-red-darker        #960E1B
  // COLORS:PURPLE
  --t-color-purple-x-lighter  #E6E8FF
  --t-color-purple-lighter    #BFC4FF
  --t-color-purple-light      #8089ff
  --t-color-purple            #6772FF
  --t-color-purple-dark       #38458C
  --t-color-purple-darker     #213076
  // COLORS:BLUE
  --t-color-blue-lighter      #E6EFFF
  --t-color-blue-light        #69A3FF
  --t-color-blue              #3282E1
  --t-color-blue-dark         #005CCC
  --t-color-blue-darker       #004CA6
  // COLORS:GREEN
  --t-color-green-lighter     #EEFFE5
  --t-color-green-light       #00D082
  --t-color-green             #00AE6D
  --t-color-green-dark        #00945D
  --t-color-green-darker      #007348

  // LAYERS
  --t-layer-base      1
  --t-layer-lowest    10
  --t-layer-low       20
  --t-layer-middle    30
  --t-layer-high      40
  --t-layer-highest   50

  // BORDER:RADIUS
  --t-default-border-radius   4px

  // FONT-SIZE
  --t-font-size-xxxxs  0.500rem  // 08px
  --t-font-size-xxxs   0.625rem  // 10px
  --t-font-size-xxs    0.750rem  // 12px
  --t-font-size-xs     0.875rem  // 14px
  --t-font-size-sm     1.000rem  // 16px
  --t-font-size-md     1.125rem  // 18px
  --t-font-size-lg     1.250rem  // 20px
  --t-font-size-xl     1.500rem  // 24px
  --t-font-size-xxl    2.250rem  // 36px
  --t-font-size-xxxl   3.000rem  // 48px
