.t-banner
  position relative
  padding 10px 30px 10px 10px
  background-color var(--t-color-blue-lighter)
  color var(--t-color-blue)
  font-size var(--t-font-size-xs)
  border-radius var(--t-default-border-radius)
  &.t-banner-warning
    background-color var(--t-color-yellow-lighter)
    color var(--t-color-yellow-darker)
  &.t-banner-danger
    background-color var(--t-color-red-lighter)
    color var(--t-color-red)
  &.t-banner-success
    background-color var(--t-color-green-lighter)
    color var(--t-color-green)

.t-banner-action
  margin-top 10px

.t-banner-close
  position absolute
  top 18px
  right 8px
  transform translate(-50%,-50%)
