@require '_mixins'

.t-button
  padding 11px
  min-height 40px
  background-color var(--t-color-grey-light)
  color var(--t-color-grey-dark)
  font-size var(--t-font-size-xs)
  font-weight bold
  text-align center
  text-decoration none
  line-height var(--t-font-size-sm)
  border 1px solid var(--t-color-grey)
  border-radius var(--t-default-border-radius)
  box-sizing border-box
  box-shadow 0 0 0 var(--t-color-purple-lighter)
  transition-property box-shadow, background-color
  transition-duration 200ms
  transition-timing-function ease-in-out
  outline 0
  cursor pointer
  user-select(none)
  -webkit-appearance none
  &:hover
    background-color var(--t-color-grey-lighter)
  &:focus,
  &:active
    background-color var(--t-color-grey-lighter)
    box-shadow 0 0 0 4px var(--t-color-purple-x-lighter)
  &[disabled]
    background-color var(--t-color-grey-lighter)
    color var(--t-color-grey)
    border-color var(--t-color-grey)
    cursor default
  &.t-button-blocked
    display block
    width 100%
  &.t-button-primary
    background-color var(--t-color-purple)
    color white
    border-color var(--t-color-purple)
    &:hover,
    &:focus,
    &:active
      background-color var(--t-color-purple-light)
      border-color var(--t-color-purple-light)
    &[disabled]
      background-color var(--t-color-purple-lighter)
      border-color var(--t-color-purple-lighter)
    .t-loader-item
      background-color white
  &.t-button-secondary
    background-color transparent
    color var(--t-color-purple)
    border-color var(--t-color-purple)
    &:hover,
    &:focus,
    &:active
      border-color var(--t-color-purple-lighter)
    &[disabled]
      color var(--t-color-purple-lighter)
      border-color var(--t-color-purple-lighter)
    .t-loader-item
      background-color var(--t-color-purple)
  &.t-button-lookless
    margin-bottom 1px
    padding 0 0 1px 0
    min-height 0
    background-color transparent
    color inherit
    border 0
    &:hover,
    &:focus,
    &:active
      background-color transparent
      box-shadow none
    &:focus
      margin-bottom 0
      border-bottom 1px dashed
      border-radius 0
    &[disabled]
      opacity .5
