@require '_variables'
@require '_mixins'

.t-button
  padding 11px
  min-height 40px
  background-color $color-grey-light
  color $color-grey-dark
  font-size $font-size-xs
  font-weight bold
  text-align center
  text-decoration none
  line-height $font-size-sm
  border 1px solid $color-grey
  border-radius $default-border-radius
  box-sizing border-box
  box-shadow 0 0 0 $color-purple-lighter
  transition-property box-shadow, background-color
  transition-duration 200ms
  transition-timing-function ease-in-out
  outline 0
  cursor pointer
  user-select(none)
  -webkit-appearance none
  &:hover
    background-color $color-grey-lighter
  &:focus,
  &:active
    background-color $color-grey-lighter
    box-shadow 0 0 0 4px $color-purple-x-lighter
  &[disabled]
    background-color $color-grey-lighter
    color $color-grey
    border-color $color-grey
    cursor default
  &.t-button-block
    display block
    width 100%
  &.t-button-primary
    background-color $color-purple
    color white
    border-color $color-purple
    &:hover,
    &:focus,
    &:active
      background-color $color-purple-light
      border-color $color-purple-light
    &[disabled]
      background-color $color-purple-lighter
      border-color $color-purple-lighter
    .t-loader-item
      background-color white
  &.t-button-secondary
    background-color transparent
    color $color-purple
    border-color $color-purple
    &:hover,
    &:focus,
    &:active
      border-color $color-purple-lighter
    &[disabled]
      color $color-purple-lighter
      border-color $color-purple-lighter
    .t-loader-item
      background-color $color-purple
  &.t-button-lookless
    margin-bottom 1px
    padding 0 0 1px 0
    min-height 0
    background-color transparent
    color inherit
    border 0
    &:hover,
    &:focus,
    &:active
      background-color transparent
      box-shadow none
    &:focus
      margin-bottom 0
      border-bottom 1px dashed
      border-radius 0
    &[disabled]
      opacity .5
