.t-card
  padding 20px
  background var(--t-color-lightest)
  border 1px solid var(--t-color-grey-light)
  border-radius var(--t-default-border-radius)

.t-card-title
  margin 0
  & + .t-card-content
    margin-top 20px
