@require '_variables'

.t-card
  padding 20px
  background $color-lightest
  border 1px solid $color-grey-light
  border-radius $default-border-radius

.t-card-title
  margin 0
  & + .t-card-content
    margin-top 20px
