@require '_variables'

.t-field
  display inline-block
  &.t-field-block
    display block
  &.t-field-required
    .t-field-label
      &:after
        content '*'
        position absolute
        top 0
        right -8px
        color $color-red

.t-field-label
  position relative
  color $color-grey-dark
  font-size $font-size-xxs
  font-weight bold
  & + .t-field-content
    margin-top 5px
