select-arrow()
  position absolute
  top 42%
  right 14px
  content ''
  width 4px
  height 4px
  border-width 1px 0 0 1px
  border-style solid
  border-color var(--t-color-grey-dark)

.t-form-control
  position relative
  display inline-block
  input,
  select
    padding-top 10px
    padding-right 10px
    padding-bottom 10px
    padding-left 10px
    font-size var(--t-font-size-sm)
    line-height var(--t-font-size-sm)
    border-width 1px
    border-style solid
    border-color var(--t-color-grey)
    border-radius var(--t-default-border-radius)
    box-sizing border-box
    box-shadow 0 0 0 var(--t-color-purple-lighter)
    transition-property box-shadow, border-color
    transition-duration 200ms
    transition-timing-function ease-in-out
    outline 0
    -webkit-appearance none
    &:focus,
    &:active
      box-shadow 0 0 0 4px var(--t-color-purple-x-lighter)
      border-color var(--t-color-purple-lighter)
    &[disabled]
      background-color var(--t-color-grey-lighter)
      color var(--t-color-grey-darker)
      border-color var(--t-color-grey-light)
      pointer-events none
  .t-select-wrapper
    position relative
    select
      padding-right 30px
    &:before
      select-arrow()
      transform rotate(-135deg) translate(-60%, -60%)
    &:after
      select-arrow()
      transform rotate(45deg) translate(-50%, -50%)
    &.t-select-wrapper-disabled
      &:before
        border-color var(--t-color-grey)
      &:after
        border-color var(--t-color-grey)
  &.t-form-control-invalid
    input,
    select
      border-color var(--t-color-red)
      &:focus,
      &:active
        box-shadow 0 0 0 4px var(--t-color-red-lighter)
        border-color var(--t-color-red)
  &.t-form-control-blocked
    width 100%
    input,
    select
      width 100%

.t-form-control-error-message
  position absolute
  left 0
  bottom -17px
  display block
  color var(--t-color-red)
  font-size var(--t-font-size-xxs)
