@require '_variables'

$loader-width = 30px
$loader-height = 8px
$loader-speed = 600ms
$loader-color = $color-grey-dark
$loader-light-color = white

.t-loader
  display flex
  justify-content center
  align-items center
  min-height $loader-size
  height 100%
  &.t-loader-light
    .t-loader-item
      background-color $loader-light-color

.t-loader-item
  display inline-block
  width ($loader-width/3)
  height $loader-height
  background-color $loader-color
  border-radius ($loader-height/3)
  animation loader $loader-speed infinite ease-in-out both
  &:first-child
    animation-delay ($loader-speed/3) * -1
  &:last-child
    animation-delay ($loader-speed/3)

@keyframes loader
  0%, 80%, 100%
    opacity .6
    transform scale(0.75)
  40%
    opacity 1
    transform scale(1)
