@require '_mixins'

.t-row
  display-flex()
  flexbox(0, 1, auto)
  flexbox-orient(horizontal)
  flexbox-direction(row, normal)
  flexbox-align-items(flex-start, start, start)
  flebox-wrap(wrap)
  flexbox-justify(flex-start, start)
  margin calc(var(--t-row-gutter) * -1) calc(var(--t-col-padding) * -1) 0
  box-sizing border-box
  &.t-row-center
    flexbox-justify(center, center)
  &.t-row-right
    flexbox-justify(flex-end, end)
  &.t-row-middle
    flexbox-align(center, center, center)
  &.t-row-bottom
    flexbox-align(flex-end, end, end)
  & + .t-row
    padding-top var(--t-row-gutter)
  for $size in (1..10)
    &.t-row-offset-{$size}
      padding-top $size * 10px
