@require '_variables'

toast-theme($theme, $borderColor, $textColor)
  &.t-toast-{$theme}
    border-left-color $borderColor
    .t-toast-title
      color $textColor

.t-toast
  position relative
  padding 20px 30px 20px 20px
  background-color white
  font-size $font-size-xs
  border-radius $default-border-radius
  box-shadow 4px 0px 16px 0px rgba(0,0,0,0.15)
  border 5px solid transparent
  border-top 0
  border-bottom 0
  box-sizing border-box
  toast-theme('info', $color-blue-lighter, $color-blue)
  toast-theme('warning', $color-yellow-lighter, $color-yellow-darker)
  toast-theme('danger', $color-red-lighter, $color-red)
  toast-theme('success', $color-green-lighter, $color-green)
  .t-close-button
    position absolute
    top 5px
    right 8px

.t-toast-title
  margin 0
  font-size $font-size-xs
  & + .t-toast-content
    margin-top 15px
