@require '_variables'

$toaster-width = 300px
$toast-spacing = 30px
$toaster-layer = $layer-highest

.t-toaster
  position fixed
  top 0
  right 0
  width $toaster-width + $toast-spacing * 2
  max-width 100%
  box-sizing border-box
  z-index $toaster-layer
  .t-toast
    margin $toast-spacing $toast-spacing 0 $toast-spacing
