@require '_variables'

border-radius($radius)
  -webkit-border-radius $radius
  -moz-border-radius    $radius
  border-radius         $radius

box-sizing($size)
  -webkit-box-sizing $size
  -moz-box-sizing    $size
  box-sizing         $size

highlight()
  &:hover,
  &:focus,
  &:active
    {block}

transition(property, time)
  -webkit-transition property time $animation-curve-default
  -moz-transition property time $animation-curve-default
  -o-transition property time $animation-curve-default
  transition property time $animation-curve-default

webkit-appearance($property)
  -webkit-appearance $property
