// COLORS:GREY
$color-grey-lighter   = #F9F9F9
$color-grey-light     = #DFE3E8
$color-grey           = #C4CDD5
$color-grey-dark      = #627380
$color-grey-darker    = #222B35
// COLORS:PURPLE
$color-purple-lighter = #E1E5FA
$color-purple-light   = #B2BDF3
$color-purple         = #5D6CC0
$color-purple-dark    = #38458C
$color-purple-darker  = #213076
// COLORS:BLUE
$color-blue-lighter   = #C8DCFF
$color-blue-light     = #69A3FF
$color-blue           = #3282E1
$color-blue-dark      = #005CCC
$color-blue-darker    = #004CA6
// COLORS:GREEN
$color-green-lighter  = #B3FFE6
$color-green-light    = #00D082
$color-green          = #00AE6D
$color-green-dark     = #00945D
$color-green-darker   = #007348
// COLORS:RED
$color-red-lighter    = #FFC3B3
$color-red-light      = #E68A8E
$color-red            = #E6324B
$color-red-dark       = #CF1946
$color-red-darker     = #960E1B
// COLORS:ORANGE
$color-orange-lighter = #FCEBDC
$color-orange-light   = #FEC38F
$color-orange         = #FF9632
$color-orange-dark    = #E1692D
$color-orange-darker  = #BE5622
// COLORS:YELLOW
$color-yellow-lighter = #FFFBCC
$color-yellow-light   = #FFF799
$color-yellow         = #FFEA00
$color-yellow-dark    = #DBC900
$color-yellow-darker  = #998C00

// FONT:SIZE
$font-size-xxxs = 0.625rem  // 10px
$font-size-xxs  = 0.750rem  // 12px
$font-size-xs   = 0.875rem  // 14px
$font-size-sm   = 1.000rem  // 16px
$font-size-md   = 1.125rem  // 18px
$font-size-lg   = 1.250rem  // 20px
$font-size-xl   = 1.500rem  // 24px
$font-size-xxl  = 2.250rem  // 36px
$font-size-xxxl = 3.000rem  // 48px

// FONT:FAMILY
$font-family-primary = 'Helvetica', 'Arial', sans-serif

// LAYERS
$layer-base     = 1
$layer-lowest   = 10
$layer-low      = 20
$layer-middle   = 30
$layer-high     = 40
$layer-highest  = 50

// BREAKPOINTS
$screen-xs-max = 767px
$screen-sm-min = 768px
$screen-sm-max = 1024px
$screen-md-min = 1025px
$screen-md-max = 1439px
$screen-lg-min = 1440px
